<Header>
    <h1 id="app-title">Social App</h1>
    <div id="nav">
        <ul>
            <% if (locals.user) { %>
                <li><%=user.name%></li>
                <li><a href="/user/sign-out">Sign out</a></li>
            <% } else {%>
                <li><a href="/user/sign-in">Sign in</a></li>
                <li><a href="/user/sign-up">Sign up</a></li>
            <%}%>
        </ul>
    </div>

</Header>